
            *{
                background-color:#ceeee3;
                margin: auto;
                padding: auto;
            }
            .heading{
              font-size: xx-large;
              font-family: cursive;
              font-weight: bolder;
              font-variant: small-caps;
              margin-left: 100px;
              margin-top: 50px;
            }
            .slider {
              width: 500px;
              height: 300px;
              background-color: yellow;
              margin-left: auto;
              margin-right: auto;
              margin-top: 50px;
              text-align: center;
              overflow: hidden;
            }
            .image-container {
              width: 1500px;
              background-color: pink;
              height: 300px;
              clear: both;
              position: relative;
              -webkit-transition: left 2s;
              -moz-transition: left 2s;
              -o-transition: left 2s;
              transition: left 2s;
            }
            .slide {
              float: left;
              margin: 0px;
              padding: 0px;
              position: relative;
            }
            #slide-1:target ~ .image-container {
              left: 0px;
            }
            #slide-2:target ~ .image-container {
              left: -500px;
            }
            #slide-3:target ~ .image-container {
              left: -1000px;
            }
            .buttons {
              position: relative;
              top: -20px;
            }
            .buttons a {
              display: inline-block;
              height: 15px;
              width: 15px;
              border-radius: 50px;
              background-color: lightgreen;
            }
            .info{
                margin-top: 50px;
                margin-left: 100px;
                margin-right: 100px;
                line-height: 1.5;
                font-family: cursive;
                font-size: larger;
            }
            td{
                padding-left: 100px;
            }
            .quotes{
              
                font-family: cursive;
                font-style: italic;
                font-size: x-large;
            }
            .image{
              margin-left: 100px;
              margin-right: 100px;
              margin-bottom: 100px;
            }
         